[Desktop Entry]
Name=Linwood Flo
Comment=A feature rich event and time management system
Exec=flow %f
Icon=dev.linwood.flow
Terminal=false
Type=Application
Categories=Productivity;