Package: linwood-flow
Version: 1.0.0
Section: base
Priority: optional
Homepage: https://github.com/LinwoodDev/Flo
Architecture: amd64
Maintainer: Linwood <contact@linwood.dev>
Description: Linwood Flow
  A feature rich event and time management system.
