# Files and directories created by pub
.dart_tool/
.flutter-devtools/
.dart/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Compiled
bin/flow_server.exe

# Runtime related files
linwood_flow.db
.env
config.json
certificates/